<h3 id="show-title"> <%= @event.title %> </h3>
<p><%= @event.event_date %></p>
<p> Created By: <%= @event.creator.email %> </p>
<p>Attendees:</p>
<div>
  <%= render 'attendance_list' %>
  <% if @event.attendees.include?(current_user) %> 
    <p> You have already joined this event </p>
  <% else %>
    <%= button_to 'Add Yourself to This Event', invitations_path, params: {user: current_user, event: @event }, :method => :post %>
  <% end %>
</div>